.delButton {
    @apply transition-all transform scale-100 hover:scale-110 active:scale-105;
}

.trash {
    height: 50px;
    width: 50px;
}

.trash>div {
    height: 100%;
    width: 100%;
}
.trash>div>svg {
    height: 100%;
    width: 100%;
}
.trash>div>svg>path {
    fill: #d97706;
}
